/* base.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e3eaf1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
