.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  margin-bottom: 1rem;
}

.contact h3,
.contact p {
  margin: 0;
}

.contact p {
  margin-bottom: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  color: #333;
  font-size: 24px;
}

.contact img {
    width: 60px;
    height: 60px;
}
